header {
  background-color: #19db19;
  height: 8vh;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 30px;
}

.input-area {
  background-color: aqua;
  width: 40vw;
  height: 30px;
  padding: 8px;
  margin: 20px 40px;
  border-radius: 8px;
}

.input-todo {
  border-radius: 8px;
  border: none;
  padding: 6px 16px;
  width: 20vw;
}

button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 4px;
}

button:hover {
  opacity: 0.8;
  color: white;
}

h2 {
  margin: 5px 0px;
}

.todo-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 25px;
}

li {
  margin-bottom: 5px;
}

.todo-area {
  border: 2px solid gray;
  border-radius: 8px;
  background-color: beige;
  width: 80vw;
  min-height: 200px;
  margin: 20px 40px;
}
